services:
  app:
    image: node:14
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    command: npm run dev
    deploy:
      replicas: 1
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
